<h3>Bugs</h3>
<app-bug-stats [data]="bugOperations.bugs"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select name="" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" name="" id="">
</section>
<app-bug-edit (onAddNewBug)="onNewBugCreation($event)"></app-bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of bugOperations.bugs">
            <span 
                class="bugname" 
                [ngClass]="{closed : bug.isClosed}"
                (click)="onBugNameClick(bug)"
            >
                {{bug.name | trimText}}
            </span>
            <div class="datetime">{{bug.createdAt | elapsed}}</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>